

 <p id="notice"></p>
 <h1>Books</h1>

 <table>
   <thead>
     <tr>
       <th>Title</th>
       <th>Body</th>
       <th colspan="3"></th>
  　 </tr>
   </thead>

   <tbody>
     <tr>
       <td>リーダブルコード</td>
       <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
       <td>
         <a class="show_140792" href="/books/140792">
           Show
         </a>
       </td>
       <td>
         <a class="edit_140792" href="/books/140792/edot">
           Edit
         </a>
       </td>
       <td>
         <a data-confirm="Are you sure?"
         class="destroy_140792" rel="nofollow"
         data-method="delete" href="/books/140792">
          Destory</a>
       </td>
     </tr>

     <tr>
       <td>トラブル知らずのシステム設計</td>
       <td>システム設計の要点を図解で説明してくれます</td>
       <td>
         <a class="show_140801" href="/books/140801">
           Show
         </a>
       <td>
         <a class="edit=140801" href="/books/140801">
           Edit
         </a>
       </td>
       <td>
         <a data-confirm="Are you sure?"
         class="destroy_140801" rel="nofollow"
         data-method="delete" href="/books/140877">
           Delete
         </a>
       </td>
     </tr>

     <tr>
      <td>楽しいRuby</td>
      <td>Rubyの入門におすすめです</td>
      <td>
       <a class="show_140878" href="/books/140878">
        Show
       </a>
      </td>
      <td>
       <a class="edid_140878" href="/books/140878">
        Edit
       </a>
      </td>
      <td>
       <a data-confirm="Are you sure?"
       class="destroy_140878" rel="nofollow"
       data-method="delete" href="/books/140878">
        Destroy
       </a>
      </td>
     </tr>

     <tr>
       <td>入門Git</td>
       <td>gitについての基本動作から内部構造まで解説してくれます</td>
       <td>
        <a class="show_140879" href="/books/140879">
         Show
        </a>
       </td>
       <td>
        <a class="edit_140879" href="/books/140879">
         Edit
        </a>
       </td>
       <td>
        <a data-confirm="Are you sure?"
        class="destroy_140879" rel="nofollow"
        data-method="destroy" href="/books/140879">
         Destroy
        </a>
       </td>
     </tr>

      <tr>
       <td>アリゴリズム図鑑</td>
       <td>アリゴリズムについてカラーイラストでしっかり解説してくれます</td>
       <td>
        <a class="140880" href="/books/140880">
         Show
        </a>
       </td>
       <td>
        <a class="edit_140880" href="/books/140880">
         Edit
        </a>
       </td>
       <td>
        <a data-confirm="Are you sure?"
        class="destroy_140880" rel="nofollow"
        data-method="destroy" href="/books/140880">
         Destroy
        </a>
       </td>
     </tr>

     <tr>
       <td>達人プログラマー</td>
       <td>プログラマ入門者は必読！</td>
       <td>
        <a class="140881" href="/books/140881">
         Show
        </a>
       </td>
       <td>
        <a class="edit_140881" href="/books/140881">
         Edit
        </a>
       </td>
       <td>
        <a data-confirm="Are you sure?"
        class="destroy_140881" rel="nofollow"
        data-method="destroy" href="/books/140881">
         Destroy
        </a>
       </td>
     </tr>

     <tr>
       <td>データベース実践入門</td>
       <td>効率的なSQ文を教えてくれます</td>
       <td>
        <a class="140882" href="/books/140882">
         Show
        </a>
       </td>
       <td>
        <a class="edit_140882" href="/books/140882">
         Edit
        </a>
       </td>
       <td>
        <a data-confirm="Are you sure?"
        class="destroy_140882" rel="nofollow"
        data-method="destroy" href="/books/140882">
         Destroy
        </a>
       </td>
     </tr>
   </tbody>
 </table>

 <h2>New book</h2>

















