

<strong>Title:</strong>
<p><%= @book.title %></p>


<strong>Body:</strong>
<p><%= @book.body %></p>



<a><%= link_to "Edit",edit_book_path(@book.id)%></a>
<a>|</a>
<a><%= link_to "Back",:back %></a>
